################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dienstplan/bin/Debug/net7.0-windows
/Dienstplan/obj
/Dienstplan/bin/Release/net7.0-windows
/Dienstplan.db-shm
*.db-wal
/Dienstplan/Dienstplan.db
